EIO:CFG_1.0:4:0::
#
EIO_BUS_USER:

      -Name "SIM" -Driver "/sim1:"

      -Name "SW" -Driver "/sw1:"

      -Name "BASE" -Driver "/BASE1:"

      -Name "CAN2" -Driver "/BASE2:"
#
EIO_UNIT_TYPE:

      -Name "ADFWEB" -VendorId 1176 -VendorName "ADFweb" -DeviceType 12\
      -DeviceDriver "DNGeneric" -ProductId 609 -ProductName "ADFweb_Slave"\
      -MajorRev 2 -MinorRev 3 -MaxDigin 512 -MaxDigout 512
#
EIO_UNIT:

      -Name "adfweb" -Type "ADFWEB" -Bus "BASE" -Address "15" -Digin 512\
      -Digout 512 -PollRate 10

      -Name "wzones" -Type "eip000" -Bus "SIM" -Address "0" -Digin 512\
      -Digout 512
#
EIO_CROSS:

      -Lact "diHeartBeat" -Lres "doHeartBeat"
#
SYSSIG_OUT:

      -Status "MotorOn" -Signal "sdoMotOnState"

      -Status "MotorOff" -Signal "sdoMotOffState"

      -Status "AutoOn" -Signal "sdoAutoOn"

      -Status "CycleOn" -Signal "sdoCycleOn"

      -Status "EmStop" -Signal "sdoEmg"

      -Status "Error" -Signal "sdoError"
#
SYSSIG_IN:

      -Signal "sdiMotorOn" -Action "MotorOn"

      -Signal "sdiMotorOff" -Action "MotorOff"

      -Signal "sdiStartMain" -Action "StartMain"

      -Signal "sdiStartExec" -Action "Start"

      -Signal "sdiStopExec" -Action "Stop"

      -Signal "sdiResetEmg" -Action "ResetEstop"

      -Signal "sdiResetErr" -Action "ResetError"
#
EIO_USER_SIGNAL = EIO_SIGNAL:

      -Name "sdiMotorOn" -Type "DI" -Unit "adfweb" -Phsig 1

      -Name "sdiMotorOff" -Type "DI" -Unit "adfweb" -Phsig 2

      -Name "sdiStartMain" -Type "DI" -Unit "adfweb" -Phsig 3

      -Name "sdiStartExec" -Type "DI" -Unit "adfweb" -Phsig 4

      -Name "sdiStopExec" -Type "DI" -Unit "adfweb" -Phsig 5

      -Name "sdiResetEmg" -Type "DI" -Unit "adfweb" -Phsig 6

      -Name "sdiResetErr" -Type "DI" -Unit "adfweb" -Phsig 7

      -Name "diHeartBeat" -Type "DI" -Unit "adfweb" -Phsig 9

      -Name "diStartJob" -Type "DI" -Unit "adfweb" -Phsig 10

      -Name "diEndJob" -Type "DI" -Unit "adfweb" -Phsig 11

      -Name "diSelMorsa" -Type "DI" -Unit "adfweb" -Phsig 12

      -Name "diReqHomePos" -Type "DI" -Unit "adfweb" -Phsig 17

      -Name "diReqManutPos" -Type "DI" -Unit "adfweb" -Phsig 18

      -Name "diReqOutSide" -Type "DI" -Unit "adfweb" -Phsig 19

      -Name "diResetBin" -Type "DI" -Unit "adfweb" -Phsig 24

      -Name "diStGrpAOpen" -Type "DI" -Unit "adfweb" -Phsig 25

      -Name "diStGrpAClose" -Type "DI" -Unit "adfweb" -Phsig 26

      -Name "diGrpAPartPres" -Type "DI" -Unit "adfweb" -Phsig 27

      -Name "diStGrpBOpen" -Type "DI" -Unit "adfweb" -Phsig 28

      -Name "diStGrpBClose" -Type "DI" -Unit "adfweb" -Phsig 29

      -Name "diGrpBPartPres" -Type "DI" -Unit "adfweb" -Phsig 30

      -Name "diStOpenMorsa" -Type "DI" -Unit "adfweb" -Phsig 31

      -Name "diStCloseMorsa" -Type "DI" -Unit "adfweb" -Phsig 32

      -Name "sdoMotOnState" -Type "DO" -Unit "adfweb" -Phsig 1

      -Name "sdoMotOffState" -Type "DO" -Unit "adfweb" -Phsig 2

      -Name "sdoAutoOn" -Type "DO" -Unit "adfweb" -Phsig 3

      -Name "sdoCycleOn" -Type "DO" -Unit "adfweb" -Phsig 4

      -Name "sdoEmg" -Type "DO" -Unit "adfweb" -Phsig 6

      -Name "sdoError" -Type "DO" -Unit "adfweb" -Phsig 7

      -Name "doHeartBeat" -Type "DO" -Unit "adfweb" -Phsig 9

      -Name "doRobInJob" -Type "DO" -Unit "adfweb" -Phsig 10

      -Name "doJobDone" -Type "DO" -Unit "adfweb" -Phsig 11

      -Name "doAlarmRobot" -Type "DO" -Unit "adfweb" -Phsig 12

      -Name "doPzPrel" -Type "DO" -Unit "adfweb" -Phsig 13

      -Name "doPzDep" -Type "DO" -Unit "adfweb" -Phsig 14

      -Name "do_Soffia1" -Type "DO" -Unit "adfweb" -Phsig 15

      -Name "do_Soffia2" -Type "DO" -Unit "adfweb" -Phsig 16

      -Name "doHomePos" -Type "DO" -Unit "adfweb" -Phsig 17 -Access "System"

      -Name "doManutPos" -Type "DO" -Unit "adfweb" -Phsig 18

      -Name "doOutSide" -Type "DO" -Unit "adfweb" -Phsig 19

      -Name "doOutMisura" -Type "DO" -Unit "adfweb" -Phsig 20

      -Name "doOutCnc" -Type "DO" -Unit "adfweb" -Phsig 21

      -Name "doAckBin" -Type "DO" -Unit "adfweb" -Phsig 24

      -Name "doReqGrpAOpen" -Type "DO" -Unit "adfweb" -Phsig 25

      -Name "doReqGrpAClose" -Type "DO" -Unit "adfweb" -Phsig 26

      -Name "doReqGrpBOpen" -Type "DO" -Unit "adfweb" -Phsig 27

      -Name "doReqGrpBClose" -Type "DO" -Unit "adfweb" -Phsig 28

      -Name "doReqCloseMorsa" -Type "DO" -Unit "adfweb" -Phsig 31

      -Name "doReqOpenMorsa" -Type "DO" -Unit "adfweb" -Phsig 32

      -Name "goEchoJob" -Type "GO" -Unit "adfweb" -Phsig 33 -Length 16

      -Name "goEchoModel" -Type "GO" -Unit "adfweb" -Phsig 49 -Length 16

      -Name "giNumJob" -Type "GI" -Unit "adfweb" -Phsig 33 -Length 16

      -Name "giNumModel" -Type "GI" -Unit "adfweb" -Phsig 49 -Length 16

      -Name "giC1Pick" -Type "GI" -Unit "adfweb" -Phsig 65 -Length 8

      -Name "giC1Drop" -Type "GI" -Unit "adfweb" -Phsig 73 -Length 8

      -Name "giC2Pick" -Type "GI" -Unit "adfweb" -Phsig 81 -Length 8

      -Name "giC2Drop" -Type "GI" -Unit "adfweb" -Phsig 89 -Length 8

      -Name "wdoCarro1" -Type "DO" -Unit "wzones" -Phsig 1 -Access "System"

      -Name "wdoCarro2" -Type "DO" -Unit "wzones" -Phsig 2 -Access "System"

      -Name "wdoCNC" -Type "DO" -Unit "wzones" -Phsig 3 -Access "System"

      -Name "wdoIspezione" -Type "DO" -Unit "wzones" -Phsig 4 -Access "System"

      -Name "wdoMisura" -Type "DO" -Unit "wzones" -Phsig 5 -Access "System"

      -Name "wdoOutBin" -Type "DO" -Unit "wzones" -Phsig 6 -Access "System"

      -Name "wdoRobCylinder" -Type "DO" -Unit "wzones" -Phsig 7 -Access "System"

      -Name "doOutIsp" -Type "DO" -Unit "adfweb" -Phsig 22 -Access "All"

      -Name "doStartPartCtrl" -Type "DO" -Unit "adfweb" -Phsig 23 -Access "All"

      -Name "diEndPartCtrl" -Type "DI" -Unit "adfweb" -Phsig 23 -Access "All"
#
EIO_GROUP_PHS = EIO_SIGNAL:

      -Name "giCtrlPzCnc" -Type "GI" -Unit "adfweb" -Phsig 97 -Length 16

      -Name "giCtrlPzC2" -Type "GI" -Unit "adfweb" -Phsig 113 -Length 16

      -Name "giLevelDrop" -Type "GI" -Unit "adfweb" -Phsig 129 -Length 8
