MMC:CFG_1.0:4:0::
#
MMC_PALETTE_HEAD:

      -name "Common" -type "MMC_COMMON"

      -name "Prog.Flow" -type "MMC_PROG_FLOW"

      -name "Various" -type "MMC_VARIOUS"

      -name "Settings" -type "MMC_SETTINGS"

      -name "Motion&Proc." -type "MMC_MOTION"

      -name "I/O" -type "MMC_IO"

      -name "Communicate" -type "MMC_COMMUNICATE"

      -name "Interrupts" -type "MMC_INTER"

      -name "Error Rec." -type "MMC_ERROR"

      -name "System&Time" -type "MMC_SYSTEM"

      -name "Mathematics" -type "MMC_MATH"

      -name "M.C 1" -type "MMC_MC1"

      -name "M.C 2" -type "MMC_MC2"

      -name "M.C 3" -type "MMC_MC3"

      -name "MotionSetAdv" -type "MMC_MOTSETADV"

      -name "Motion Adv." -type "MMC_MOTIONADV"

      -name "Ext.Computer" -type "MMC_EXTCOMP"

      -name "MultiTasking" -type "MMC_MULTI"

      -name "RAPIDsupport" -type "MMC_RAPID"

      -name "Calib&Service" -type "MMC_SERVICE"
#
MMC_ACT_PALL:

      -name "act_pall" -pall_nr 11
#
MMC_HIA_MODPOS:

      -name "modpos" -type  -tuning_in_auto 
#
MMC_HIA_LIMIT:

      -name "LIMITFLAG" -text_id 34,22 -mode "0"

      -name "KEEPOVERRIDE" -text_id 34,26 -mode "0"
#
MMC_SYSMOD_AUTO_SAVE:

      -name "AUTOSAVEOFF" -text_id 34,28 -mode "0"
#
MMC_HIM_SLEEPBTN:

      -name "SLEEPBTNFLAG" -text_id 8,198 -mode "0"
#
MMC_HIA_ROBRULE:

      -rule "SEQ"
#
MMC_CURRENT_PACKAGE:

      -use_prog "NONE" -use_prod "NONE"
#
MMC_OPT_PROG_PACKAGE:

      -name "NONE"
#
MMC_OPT_PROD_PACKAGE:

      -name "NONE"
#
MMC_REAL_ROUTINE:

      -name "CalPendelum" -hidden 

      -name "CalPendelumProc" -hidden 

      -name "PendelumProc" -hidden 

      -name "CW_Options" -hidden 

      -name "CW_ReadLevel" -hidden 
#
MMC_PARAM_LAST_NAME:

      -name "MoveRL_Speed" -last_name "v500"

      -name "MoveRL_Zone" -last_name "z100"

      -name "MoveRL_Tool" -last_name "tPinzaB"

      -name "MoveRL_WObj" -last_name "wobj0"

      -name "waittime_time" -last_name "2"
#
MMC_ROUT_LAST_STRUCT:

      -name "MoveRL" -last_struct 1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

      -name "waittime" -last_struct 0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
#
MMC_SERV_ROUT_STRUCT:

      -name "CalPendelum"
#
HIFI_MAX_FILES:

      -name "NumOfFiles"
#
HIJ_USER_INCR_STEPS:

      -type "linear" -value 5

      -type "axes" -value 0.1

      -type "reorient" -value 0.3
#
MMC_TP_RUNMOD:

      -name "AUTO" -text_id 34,14 -mode "CONT"

      -name "MANUAL" -text_id 34,15 -mode "CYCLE"
#
WM_PROGRAMMABLE_KEYS:

      -name "P1" -type "OUTPUT" -connection "doReqGrpAClose" -function "PULSE"

      -name "P2" -type "OUTPUT" -connection "doReqGrpAOpen" -function "PULSE"

      -name "P3" -type "NONE"

      -name "P4" -type "OUTPUT" -connection "doReqGrpBOpen" -function "PULSE"

      -name "P5" -type "OUTPUT" -connection "doReqGrpBClose" -function "PULSE"
#
MMC_MOTION = MMC_PALETTE:

      -name "ArcL/On" -param_nr 1 -alt_nr 1 -instr_name "ArcL"

      -name "ArcL" -param_nr 1 -instr_name "ArcL"

      -name "ArcL/Off" -param_nr 1 -alt_nr 2 -instr_name "ArcL"
#
TP_CLIENTS = AUTH_CLIENTS:

      -name "hiats" -permission "HIA_PERMISSION"

      -name "hic" -permission "HIC_PERMISSION"

      -name "his" -permission "HIS_PERMISSION"
#
HIA_PERMISSION = AUTH_CLIENT_PERMISSION:

      -name "LAUNCH" -text_id 1,7 -userlevel "OPERATOR"

      -name "EDIT_PROGRAM" -text_id 3,375 -userlevel "OPERATOR"

      -name "DELETE_INSTRUCTION" -text_id 3,308 -userlevel "OPERATOR"\
      -confirm "YES"

      -name "MODPOS" -text_id 3,414 -userlevel "OPERATOR" -confirm "YES"

      -name "DELETE_OBJECT" -text_id 3,309 -userlevel "OPERATOR" -confirm "YES"

      -name "CONFIRM_START_FROM_CURSOR" -text_id 3,313 -userlevel "OPERATOR"\
      -confirm "YES"
#
MMC_TYPE:

      -domain_type "HIA_PERMISSION" -text_id 3,307\
      -attributes_id "HIA_MMC_ATTRIBUTES" -outline_type "MMC_OUTLINE"\
      -outline_inst_name "mmc_hia_outline"

      -domain_type "MMC_HIA_MODPOS" -text_id 3,353 -outline_type "MMC_OUTLINE"\
      -outline_inst_name "modpos_outline"\
      -attributes_id_hook "hia_modpos_cfg_hook"

      -domain_type "MMC_HIA_LIMIT" -text_id 34,21\
      -attributes_id "MMC_HIA_LIMIT_ATTRIBUTES" -outline_type "MMC_OUTLINE"\
      -outline_inst_name "limit_outline"

      -domain_type "MMC_SYSMOD_AUTO_SAVE" -text_id 34,27\
      -attributes_id "MMC_SYSMOD_AUTO_SAVE_ATTRIBUTES"\
      -outline_type "MMC_OUTLINE" -outline_inst_name "sysmod_outline"

      -domain_type "HIC_PERMISSION" -text_id 7,75\
      -attributes_id "HIC_MMC_ATTRIBUTES" -outline_type "HIC_MMC_OUTLINE"\
      -outline_inst_name "mmc_hic_outline"

      -domain_type "MMC_CURRENT_PACKAGE" -text_id 34,10\
      -attributes_id "MMC_CURRENT_PACKAGE_ATTRIBUTE" -outline_type "MMC_OUTLINE"\
      -outline_inst_name "current_package_outline"

      -domain_type "HIFI_USER_TYPES" -text_id 34,4 -add_f 1\
      -attributes_id "MMC_HIFI_USER_TYPES_ATTRIBUTE" -outline_type "MMC_OUTLINE"\
      -outline_inst_name "user_types_outline"

      -domain_type "HIFI_MAX_FILES" -text_id 1,149\
      -attributes_id "MMC_HIFI_MAX_FILES_ATTRIBUTES" -outline_type "MMC_OUTLINE"\
      -outline_inst_name "max_files_outline"

      -domain_type "MMC_TP_RUNMOD" -text_id 34,16\
      -attributes_id "MMC_TP_RUNMOD_ATTRIBUTES" -outline_type "MMC_OUTLINE"\
      -outline_inst_name "runmod_outline"

      -domain_type "WM_PROGRAMMABLE_KEYS" -text_id 1,99\
      -outline_type "WM_PROGRAMMABLE_KEYS_OUTLINE"\
      -outline_inst_name "wm_programmable_keys_outline"\
      -attributes_id_hook "wm_prog_attributes_id"

      -domain_type "HIS_PERMISSION" -text_id 8,163\
      -attributes_id "HIS_MMC_ATTRIBUTES" -outline_type "MMC_OUTLINE"\
      -outline_inst_name "mmc_his_outline"

      -domain_type "MMC_HIM_SLEEPBTN" -text_id 8,198\
      -attributes_id "MMC_HIM_SLEEPBTN_ATTRIBUTES" -outline_type "MMC_OUTLINE"\
      -outline_inst_name "sleepbtn_outline"
#
MMC_OUTLINE:

      -Name "mmc_hia_outline" -header_id 1,87 -dsp_parms 1,2,3,0

      -Name "modpos_outline" -header_id 3,354 -dsp_parms 1,0,0,0

      -Name "limit_outline" -header_id 34,23 -dsp_parms 1,0,0,0

      -Name "sysmod_outline" -header_id 34,23 -dsp_parms 1,0,0,0

      -Name "current_package_outline" -header_id 34,13 -dsp_parms 1,2,0,0

      -Name "user_types_outline" -header_id 34,3 -dsp_parms 1,2,0,0

      -Name "max_files_outline" -header_id 3,86 -dsp_parms 1,2,0,0

      -Name "runmod_outline" -header_id 34,17 -dsp_parms 1,2,0,0

      -Name "mmc_his_outline" -header_id 1,87 -dsp_parms 1,2,3,0

      -Name "sleepbtn_outline" -header_id 34,23 -dsp_parms 1,0,0,0
#
HIA_MMC_ATTRIBUTES = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,84 -present_type "SIMPLE_TEXT_ID"\
      -change_type "NONE"

      -attribute_id "userlevel" -text_id 1,85 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "MMC_USER_LEVELS"

      -attribute_id "confirm" -text_id 1,86 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "MMC_CONFIRM"
#
MMC_HIA_MODPOS_1_ATTRIBUTE = MMC_ATTRIBUTE:

      -attribute_id "type" -text_id 3,354 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_MODPOS_TYPE_FKBAR"

      -attribute_id "tuning_in_auto" -text_id 3,370 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_MODPOS_TUNING_FKBAR"

      -attribute_id "mode" -text_id 3,363 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_MODPOS_MODE_FKBAR"

      -attribute_id "limittrans" -text_id 3,359 -present_type "SIMPLE"\
      -change_type "FLOAT"

      -attribute_id "limitrot" -text_id 3,360 -present_type "SIMPLE"\
      -change_type "FLOAT"

      -attribute_id "limitexttrans" -text_id 3,361 -present_type "SIMPLE"\
      -change_type "FLOAT"

      -attribute_id "limitextrot" -text_id 3,362 -present_type "SIMPLE"\
      -change_type "FLOAT"
#
MMC_HIA_MODPOS_2_ATTRIBUTE = MMC_ATTRIBUTE:

      -attribute_id "type" -text_id 3,354 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_MODPOS_TYPE_FKBAR"

      -attribute_id "tuning_in_auto" -text_id 3,370 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_MODPOS_TUNING_FKBAR"

      -attribute_id "ifauto" -text_id 3,379 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_MODPOS_IFAUTO_FKBAR"
#
MMC_HIA_LIMIT_ATTRIBUTES = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 34,18 -present_type "SIMPLE_TEXT_ID"\
      -change_type "NONE"

      -attribute_id "mode" -text_id 34,23 -reconfig  -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_LIMIT_TYPE_FKBAR"
#
MMC_SYSMOD_AUTO_SAVE_ATTRIBUTES = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 34,29 -present_type "SIMPLE_TEXT_ID"\
      -change_type "NONE"

      -attribute_id "mode" -text_id 34,30 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_LIMIT_TYPE_FKBAR"
#
MMC_MODPOS_TYPE_FKBAR = MMC_FKEY:

      -text_id 3,357 -fktype "SETA" -setcode "1"

      -text_id 3,358 -fktype "SETA" -setcode "0"
#
MMC_MODPOS_MODE_FKBAR = MMC_FKEY:

      -text_id 3,364 -fktype "SETA" -setcode "1"

      -text_id 3,365 -fktype "SETA" -setcode "0"
#
MMC_MODPOS_IFAUTO_FKBAR = MMC_FKEY:

      -text_id 3,381 -fktype "SETA" -setcode "1"

      -text_id 3,382 -fktype "SETA" -setcode "0"
#
MMC_MODPOS_TUNING_FKBAR = MMC_FKEY:

      -text_id 1,124 -fktype "SETA" -setcode "1"

      -text_id 1,125 -fktype "SETA" -setcode "0"
#
MMC_LIMIT_TYPE_FKBAR = MMC_FKEY:

      -text_id 34,24 -fktype "SETA" -setcode "1"

      -text_id 34,25 -fktype "SETA" -setcode "0"
#
AUTH_INTERACTIVE_UNITS:

      -name "TP" -clients "TP_CLIENTS"
#
HIC_PERMISSION = AUTH_CLIENT_PERMISSION:

      -name "LAUNCH" -text_id 1,7 -userlevel "OPERATOR"

      -name "CHANGE_PASS_CODE" -text_id 7,76 -userlevel "OPERATOR"\
      -confirm "YES"

      -name "DELETE_INSTANCE" -text_id 7,77 -userlevel "OPERATOR" -confirm "YES"
#
HIC_MMC_ATTRIBUTES = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,84 -present_type "SIMPLE_TEXT_ID"\
      -change_type "NONE"

      -attribute_id "userlevel" -text_id 1,85 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "MMC_USER_LEVELS"

      -attribute_id "confirm" -text_id 1,86 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "MMC_CONFIRM"
#
HIC_MMC_OUTLINE = MMC_OUTLINE:

      -Name "mmc_hic_outline" -header_id 1,87 -dsp_parms 1,2,3,0
#
MMC_TOPICS:

      -topic_text_id 34,0 -domain_name "MMC" -domain_type "NA"\
      -domain_attribute "NA"

      -topic_text_id 34,20 -domain_name "PROC" -domain_type "NA"\
      -domain_attribute "NA"
#
MMC_USER_LEVELS = MMC_CHOICE:

      -text_id 1,6 -setcode "OPERATOR"

      -text_id 1,2 -setcode "SERVICE"

      -text_id 1,3 -setcode "PROGRAMMER"

      -text_id 1,8 -setcode "SERVICE&PROGRAMMER"
#
MMC_CONFIRM = MMC_CHOICE:

      -text_id 1,31 -setcode "YES"

      -text_id 1,32 -setcode "NO"
#
MMC_CURRENT_PACKAGE_ATTRIBUTE = MMC_ATTRIBUTE:

      -attribute_id "use_prog" -text_id 34,11 -present_type "SIMPLE"\
      -change_type "CHOICE_INSTANCE" -choices_type_name "MMC_OPT_PROG_PACKAGE"

      -attribute_id "use_prod" -text_id 34,12 -present_type "SIMPLE"\
      -change_type "CHOICE_INSTANCE" -choices_type_name "MMC_OPT_PROD_PACKAGE"
#
MMC_HIFI_USER_TYPES_ATTRIBUTE = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 34,1 -reconfig  -present_type "SIMPLE"\
      -change_type "TEXT" -char_length 3

      -attribute_id "description" -text_id 34,2 -reconfig \
      -present_type "SIMPLE" -change_type "TEXT" -char_length 20
#
MMC_HIFI_MAX_FILES_ATTRIBUTES = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,47 -present_type "SIMPLE"\
      -change_type "NONE"

      -attribute_id "number" -text_id 3,57 -reconfig  -present_type "SIMPLE"\
      -change_type "INTEGER"
#
MMC_TP_RUNMOD_ATTRIBUTES = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 34,18 -present_type "SIMPLE_TEXT_ID"\
      -change_type "NONE"

      -attribute_id "mode" -text_id 34,19 -reconfig  -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_TP_RUNMOD_FKBAR"
#
MMC_TP_RUNMOD_FKBAR = MMC_FKEY:

      -text_id 1,64 -fktype "SETA" -setcode "CONT"

      -text_id 1,65 -fktype "SETA" -setcode "CYCLE"
#
WM_PROGRAMMABLE_KEYS_OUTLINE = MMC_OUTLINE:

      -Name "wm_programmable_keys_outline" -header_id 1,100 -dsp_parms 1,2,3,0
#
WM_NO_PROGRAMMABLE_KEYS_ATTRIBUTE = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,101 -present_type "SIMPLE"\
      -change_type "NONE"

      -attribute_id "type" -text_id 1,102 -present_type "SIMPLE"\
      -change_type "NONE"

      -attribute_id "connection" -text_id 1,103 -present_type "SIMPLE"\
      -change_type "NONE"
#
WM_N_TYPE_PROGRAMMABLE_KEYS_ATTRIBUTE = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,101 -present_type "SIMPLE"\
      -change_type "NONE"

      -attribute_id "type" -text_id 1,102 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "WM_PROGRAMMABLE_KEYS_TYPE"

      -attribute_id "connection" -text_id 1,103 -present_type "SIMPLE"\
      -change_type "NONE"
#
WM_PROGRAMMABLE_INPUT_KEYS_ATTRIBUTE = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,101 -present_type "SIMPLE"\
      -change_type "NONE"

      -attribute_id "type" -text_id 1,102 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "WM_PROGRAMMABLE_KEYS_TYPE"

      -attribute_id "connection" -text_id 1,103 -present_type "SIMPLE"\
      -change_type "CHOICE_INSTANCE_BY_METHOD"\
      -choice_method "wm_hic_input_signals"
#
WM_PROGRAMMABLE_OUTPUT_KEYS_ATTRIBUTE = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,101 -present_type "SIMPLE"\
      -change_type "NONE"

      -attribute_id "type" -text_id 1,102 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "WM_PROGRAMMABLE_KEYS_TYPE"

      -attribute_id "connection" -text_id 1,103 -present_type "SIMPLE"\
      -change_type "CHOICE_INSTANCE_BY_METHOD"\
      -choice_method "wm_hic_output_signals"

      -attribute_id "function" -text_id 1,104 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST"\
      -choices_type_name "WM_PROGRAMMABLE_KEYS_OUTPUT_FUNCTION"

      -attribute_id "auto" -text_id 1,128 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "WM_PROGRAMMABLE_KEYS_OUTPUT_AUTO"
#
WM_PROGRAMMABLE_KEYS_TYPE = MMC_CHOICE:

      -text_id 1,105 -setcode "NONE"

      -text_id 1,107 -setcode "OUTPUT"
#
WM_PROGRAMMABLE_KEYS_INPUT_FUNCTION = MMC_CHOICE:

      -text_id 1,108 -setcode "INTERRUPT"
#
WM_PROGRAMMABLE_KEYS_OUTPUT_FUNCTION = MMC_CHOICE:

      -text_id 1,109 -setcode "TOGGLE"

      -text_id 1,110 -setcode "SET0"

      -text_id 1,111 -setcode "SET1"

      -text_id 1,112 -setcode "PRESS"

      -text_id 1,113 -setcode "PULSE"
#
WM_PROGRAMMABLE_KEYS_OUTPUT_AUTO = MMC_FKEY:

      -text_id 1,31 -fktype "SETA" -setcode "1"

      -text_id 1,32 -fktype "SETA" -setcode "0"
#
HIS_PERMISSION = AUTH_CLIENT_PERMISSION:

      -name "RESTORE" -text_id 8,164 -userlevel "PROGRAMMER" -confirm "YES"

      -name "FINECALIB" -text_id 8,2 -userlevel "OPERATOR" -confirm "YES"
#
HIS_MMC_ATTRIBUTES = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,84 -present_type "SIMPLE_TEXT_ID"\
      -change_type "NONE"

      -attribute_id "userlevel" -text_id 1,85 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "MMC_USER_LEVELS"

      -attribute_id "confirm" -text_id 1,86 -present_type "SIMPLE"\
      -change_type "CHOICE_LIST" -choices_type_name "MMC_CONFIRM"
#
MMC_HIM_SLEEPBTN_ATTRIBUTES = MMC_ATTRIBUTE:

      -attribute_id "name" -text_id 1,47 -present_type "SIMPLE_TEXT_ID"\
      -change_type "NONE"

      -attribute_id "mode" -text_id 8,200 -present_type "SIMPLE"\
      -change_type "FKBAR" -fkbar_id "MMC_SLEEPBTN_TYPE_FKBAR"
#
MMC_SLEEPBTN_TYPE_FKBAR = MMC_FKEY:

      -text_id 34,24 -fktype "SETA" -setcode "1"

      -text_id 34,25 -fktype "SETA" -setcode "0"
#
MMC_COMMON = MMC_PALETTE:

      -name "MoveJ"

      -name "MoveL"

      -name ":="

      -name "ProcCall"

      -name "RETURN"

      -name "IF"

      -name "Set"

      -name "Reset"

      -name "WaitDI"

      -name "WaitDO"

      -name "WaitUntil"

      -name "WaitTime"

      -name "Compact IF"

      -name "FOR"

      -name "WHILE"

      -name "MoveC"
#
MMC_PROG_FLOW = MMC_PALETTE:

      -name "IF"

      -name "WHILE"

      -name "FOR"

      -name "TEST"

      -name "GOTO"

      -name "ProcCall"

      -name "Label"

      -name "RETURN"

      -name "EXIT"

      -name "Compact IF"

      -name "CallByVar"
#
MMC_VARIOUS = MMC_PALETTE:

      -name ":="

      -name "Comment"
#
MMC_IO = MMC_PALETTE:

      -name "WaitDI"

      -name "WaitDO"
#
MMC_INTER = MMC_PALETTE:

      -name "CONNECT"
#
MMC_ERROR = MMC_PALETTE:

      -name "EXIT"

      -name "RAISE"

      -name "RETRY"

      -name "RETURN"

      -name "TRYNEXT"
#
MMC_MATH = MMC_PALETTE:

      -name ":="
#
MMC_MC1 = MMC_PALETTE:

      -name "MoveJ"

      -name "MoveL"

      -name "MoveC"

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"

      -name "ArcL/On" -param_nr 1 -alt_nr 1 -instr_name "ArcL"

      -name "ArcL" -param_nr 1 -instr_name "ArcL"

      -name "ArcL/Off" -param_nr 1 -alt_nr 2 -instr_name "ArcL"
#
MMC_MC2 = MMC_PALETTE:

      -name "MoveJ"

      -name "MoveL"

      -name "MoveC"

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"

      -name "ArcL/On" -param_nr 1 -alt_nr 1 -instr_name "ArcL"

      -name "ArcL" -param_nr 1 -instr_name "ArcL"

      -name "ArcL/Off" -param_nr 1 -alt_nr 2 -instr_name "ArcL"
#
MMC_MC3 = MMC_PALETTE:

      -name "MoveJ"

      -name "MoveL"

      -name "MoveC"

      -name "ProcCall"

      -name "Set"

      -name "Reset"

      -name "WaitTime"

      -name "WaitDI"

      -name "IF"

      -name "Compact IF"

      -name ":="

      -name "Incr"

      -name "Add"

      -name "Decr"

      -name "ArcL/On" -param_nr 1 -alt_nr 1 -instr_name "ArcL"

      -name "ArcL" -param_nr 1 -instr_name "ArcL"

      -name "ArcL/Off" -param_nr 1 -alt_nr 2 -instr_name "ArcL"
