SYS:CFG_1.0:4:0::
#
CAB_REGAIN_DIST:

      -Tcp_dist 0.05 -Tcp_rot 0.2 -Ext_dist 0.05 -Ext_rot 0.2

      -Name "AUTO" -Tcp_dist 0.5 -Ext_dist 0.5
#
CAB_TASKS:

      -Name "MAIN" -Type "NORMAL"
#
CAB_EXEC_HOOKS:

      -Routine "SYS_RESET" -Shelf "RESET"

      -Routine "SYS_RESET" -Shelf "START"

      -Routine "RESTORE_IO" -Shelf "POWER_ON"

      -Routine "SYS_POWERON" -Shelf "POWER_ON"

      -Routine "WdzInit" -Shelf "POWER_ON"
#
CAB_TASK_MODULES:

      -File "RELEASE:/system/base.sys" -ModName "BASE"

      -File "user.sys" -ModName "USER"

      -File "HOME:/RobData/RobData.sys" -ModName "RobData"

      -File "HOME:/system/instrlib.sys" -ModName "instrlib"

      -File "HOME:/system/wzones.sys" -ModName "wzones"

      -File "HOME:/system/PosRec.sys" -ModName "PosRec"

      -File "MAINPROG.prg" -ModName "MAINPROG" -Task "MAIN"
